body{
    background-color: lightskyblue;
    text-align: center;
}
h{
    font-style: italic;
    text-align: center;
    letter-spacing: 2px;
    color: brown;
}



.p{
    font-family: Arial, sans-serif;
    color: blue;
    font-size: 20px;
 
}
/* Type selector — affects all header elements */
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 30px;
}

/* Class selector — reusable for multiple sections */
.about {
  background-color: #f2f4f7;
  padding: 40px;
  text-align: center;
}


/* ID selector — unique for one element */
#contact {
  background-color: #d6f5d6;
  padding: 40px;
  text-align: center;
}

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  background-color: #007bff;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Navigation links */
nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Main content */
main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

/* Section */
section {
  width: 70%;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

/* Sidebar */
aside {
  width: 25%;
  background-color: #ffe6cc;
  padding: 15px;
  border-radius: 10px;
 
}
li{
     list-style-type: none;
}
li::before{
        content: "✓ ";
        color: green;
        font-weight: bold;
        margin-right: 8px;
    
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 10px;
  margin-top: 20px;
}